body{
    background-color:#F5F3EE;
    margin:0;
    padding:0;
    min-height:100vh;
}


.topoEstoque{
    width: 100%;
    height: 6vh;

    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caminho{
    display: flex;
    align-items: center;

    margin-left: 35vh;
}

.paginaPrincipal{
    display: block;
    width: 5vh;
    height: 5vh;

    background-image: url(Imagens/casa.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.primeiroCaminho{
    text-decoration: none;
    color: black;
    margin-top: 1vh;
    margin-left: 1vh;
    font-size: 120%;
}

.segundoCaminho{
    text-decoration: none;
    color: black;
    margin-top: 1vh;
    margin-left: 1vh;
    font-size: 120%;
}

.terceiroCaminho{
    text-decoration: none;
    color: black;
    margin-top: 1vh;
    margin-left: 1vh;
    font-size: 120%;
}

.notfUser{
    display: flex;
    align-items: center;
    margin-right: 2vh;
}

.notificacao, .avatar{
    background-color: rgb(255, 255, 255);

    width: 5vh;
    height: 5vh;
    margin-top: 0.3vh;
    margin-left: 2vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    border-radius: 50%;

    cursor: pointer;
}

.sino{
    width: 5vh;
    height: 5vh;

    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(Imagens/sino.svg);

    filter:
    invert(19%)
    sepia(33%)
    saturate(1015%)
    hue-rotate(96deg)
    brightness(94%)
    contrast(93%);
}

.bolinha{
    width: 2vh;
    height: 2vh;

    background-color: rgb(231, 3, 3);
    border-radius: 50%;

    position: absolute;
    top: 0.5vh;
    right: 0.5vh;
}

.PerfilUsuario{
    display: flex;
}

.avatar{
    background-color: #144621;
}

.L{
    font-size: 25px;
    margin: 0;
    color: #ffffff;
}

.nomeUsuario{
    margin: 0;
    margin-top: 1vh;
    margin-left: 1vh;

    cursor: pointer;
}

/*================== PAGINA PRINCIPAL =====================*/

.conteudo{

    width: 170vh;
    height: auto;

    margin-left: 35vh;

    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: first baseline;
}

.tituloPagina{
    margin-top:10px;
    margin-bottom:0;
}

.subtituloPagina{
    margin-top:1vh;
    font-weight:normal;
    font-size: 3vh;
}

.cardFormularioSaida{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(255, 255, 255);
    width: 170vh;
    height: auto;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
    border-radius: 1.5vh;
    padding: 5vh;
}

.tabelaFormularioDinamica thead{
    background-color: #53f844a9;
}

.cardFormularioSaida form{
    width: 100%;
}

.tabelaFormularioDinamica{
    width: 100%;
    border-collapse: collapse;
}

.tabelaFormularioDinamica th,
.tabelaFormularioDinamica td{
    padding: 1.5vh;
    text-align: center;
}

.campoSeletor,
.campoTexto,
#desconto{
    width: 100%;
    height: 5.5vh;
    border: 1px solid #d9d9d9;
    border-radius: 1vh;
    padding: 0 1.5vh;
    box-sizing: border-box;
}

.tagValorDesabilitado{
    height: 5.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    background-color: #f1f1f1;
}

.containerAdicionarItem,
.containerBotaoSubmissao{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.btnAdicionarLinha,
.btnCadastrarSaida{
    padding: 1.5vh 3vh;
    border: none;
    border-radius: 1vh;
    background-color: #144621;
    color: white;
    cursor: pointer;
}

.painelTotalizacaoSaida{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
    margin-top: 3vh;

    box-sizing: border-box;
    padding: 1vh;
    background-color: #53f844a9;
    border-radius: 1.5vh;
    width: 160vh;

}

.blocoDesconto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tagValorDestaqueVerde{
    background-color: #144621;
    color: white;
    padding: 1.5vh 3vh;
    border-radius: 1vh;
}

.btnDeletarLinha{
    width: 4vh;
    height: 4vh;
    margin: 0vh;

    display: block;

    background-image: url(Imagens/lixeira.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;

    filter:
    invert(17%)
    sepia(98%)
    saturate(7476%)
    hue-rotate(356deg)
    brightness(96%)
    contrast(118%);

    cursor: pointer;
}

